# macOS
.DS_Store

# MPLAB X project files generated locally
nbproject/
Makefile

# MPLAB X build output
build/
dist/
debug/
production/

# Compiler/build artifacts
*.elf
*.hex
*.map
*.lst
*.rlf
*.sdb
*.sym
*.o
*.p1
*.d
*.pre
*.cmf
*.cof
*.xml.*
